<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SensibleDAL.Properties.Settings.ComponentIQConnectionString" connectionString="Data Source=rz.sensiblemicro.local\SQLEXPRESS;Initial Catalog=ComponentIQ;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="SensibleDAL.Properties.Settings.Rz3ConnectionString" connectionString="Data Source=rz.sensiblemicro.local\sqlexpress;Initial Catalog=Rz3;Persist Security Info=True;User ID=redacted; Password=redacted" providerName="System.Data.SqlClient" />
    <add name="SensibleDAL.Properties.Settings.SeriLogConnectionString" connectionString="Data Source=rz.sensiblemicro.local\SQLEXPRESS;Initial Catalog=SeriLog;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="rz_attachEntities" connectionString="metadata=res://*/ef.rz_attach.csdl|res://*/ef.rz_attach.ssdl|res://*/ef.rz_attach.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=sm1;user id=redacted;password=redacted;persistsecurityinfo=True;database=rz3_pictures&quot;" providerName="System.Data.EntityClient" />
    <add name="sm_binaryEntities" connectionString="metadata=res://*/ef.sm_binary.csdl|res://*/ef.sm_binary.ssdl|res://*/ef.sm_binary.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=sm1;user id=redacted;password=redacted;persistsecurityinfo=True;database=sm_binary&quot;" providerName="System.Data.EntityClient" />
    <add name="sm_portalEntities" connectionString="metadata=res://*/ef.sm_portal.csdl|res://*/ef.sm_portal.ssdl|res://*/ef.sm_portal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sm1\SQLEXPRESS;initial catalog=SMCPortal;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="sm_nonconEntities" connectionString="metadata=res://*/ef.sm_noncon.csdl|res://*/ef.sm_noncon.ssdl|res://*/ef.sm_noncon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sm1\SQLEXPRESS;initial catalog=NONCON_RMA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SensibleDAL.Properties.Settings.SeriLogConnectionString1" connectionString="Data Source=rz.sensiblemicro.local\SQLEXPRESS;Initial Catalog=SeriLog;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>    
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.1.0" newVersion="2020.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.21.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
</configuration>